Importing the dependecies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# Loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv', on_bad_lines='skip')

In [ ]:
# First 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
# Last 5 rows of the dataset
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
286782,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
286783,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
286784,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
286785,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
286786,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [ ]:
# Dataset Information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286787 entries, 0 to 286786
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    286787 non-null  float64
 1   V1      286787 non-null  float64
 2   V2      286787 non-null  float64
 3   V3      286787 non-null  float64
 4   V4      286787 non-null  float64
 5   V5      286787 non-null  float64
 6   V6      286787 non-null  float64
 7   V7      286787 non-null  float64
 8   V8      286787 non-null  float64
 9   V9      286787 non-null  float64
 10  V10     286787 non-null  float64
 11  V11     286787 non-null  float64
 12  V12     286787 non-null  float64
 13  V13     286787 non-null  float64
 14  V14     286787 non-null  float64
 15  V15     286787 non-null  float64
 16  V16     286787 non-null  float64
 17  V17     286787 non-null  float64
 18  V18     286787 non-null  float64
 19  V19     286787 non-null  float64
 20  V20     286787 non-null  float64
 21  V21     286787 non-null  float64
 22  V22     286787 non-null  float64
 23  V23     286787 non-null  float64
 24  V24     286787 non-null  float64
 25  V25     286787 non-null  float64
 26  V26     286787 non-null  float64
 27  V27     286787 non-null  float64
 28  V28     286787 non-null  float64
 29  Amount  286787 non-null  float64
 30  Class   286787 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.8 MB

In [ ]:
# Checking the nummber of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
# Distribution of legit transaction and fraudlent transcations
credit_card_data['Class'].value_counts()

0    286291
1       496
Name: Class, dtype: int64

This Dataset is highly Unbalanced 
0 --> Normal Transaaction
1 --> Fraudlent transactio

In [ ]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(286291, 31)
(496, 31)

In [ ]:
# Statistical measures of the data
legit.Amount.describe()

count    286291.000000
mean         88.464887
std         251.587905
min           0.000000
25%           5.700000
50%          22.000000
75%          77.340000
max       25691.160000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     496.000000
mean      122.948065
std       256.875086
min         0.000000
25%         1.000000
50%         9.250000
75%       105.915000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
# Compare te values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94479.651075,0.006077,-0.007298,0.016631,-0.006624,0.003478,0.003728,0.008480,-0.000595,0.002799,...,-0.000324,-0.001409,-0.000516,-0.000261,0.000003,0.000813,0.000102,-0.000377,-0.000202,88.464887
1,80441.338710,-4.760586,3.608258,-7.014145,4.539517,-3.135434,-1.397723,-5.552692,0.567785,-2.582708,...,0.368753,0.710037,0.018400,-0.038291,-0.106682,0.042083,0.053548,0.180001,0.076005,122.948065

Build a sample dataset containing similar disrtibution of normal transactions and fraudlent transasctions

Number of fraudlent = 496

In [ ]:
legit_sample = legit.sample(n=496)

Concatenating two dataframes

In [ ]:
new_dataset = pd.concat([legit_sample,fraud], axis=0)  # For axis=0 value will be added row wise and for axis=1 column wise

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
215767,139393.0,-1.328206,1.551845,-0.230036,-1.133390,0.778155,-0.516181,0.788984,0.368584,-0.525572,...,-0.186506,-0.748696,-0.065165,0.605860,-0.157059,0.032049,-0.238714,0.139548,14.99,0
150206,89585.0,-1.544854,0.510415,-1.723719,-0.645185,-0.969130,0.355893,0.022624,1.236198,0.201627,...,-0.180575,-0.474689,0.766142,-1.163004,-2.274473,-0.155000,0.198640,-0.095511,174.70,0
127065,77529.0,-0.505561,0.962619,1.645137,-0.152147,0.069002,-0.219699,0.523905,0.208639,-0.666032,...,-0.137431,-0.333254,0.014993,0.203988,-0.326764,0.071029,0.278867,0.109106,0.89,0
35895,37436.0,-0.828500,0.969251,1.353386,-0.720941,-0.437652,-0.983693,0.313996,0.098262,-0.073314,...,-0.051428,-0.046527,-0.018730,0.453650,-0.614990,0.787566,-0.107865,-0.103171,7.68,0
44740,41234.0,-0.504086,1.155390,0.773306,1.252542,-0.376699,-0.168760,0.318697,0.412339,-0.641761,...,-0.012017,-0.159638,0.178353,0.028023,-0.359970,-0.444875,-0.147217,-0.053203,49.95,0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
281843,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
282123,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
282129,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
283124,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
283654,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [ ]:
new_dataset['Class'].value_counts()

0    496
1    496
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96460.552419,-0.090529,0.032330,-0.001284,-0.019202,0.136775,-0.011322,0.119678,-0.022175,-0.046271,...,-0.062809,0.010693,0.005692,0.011698,-0.034662,0.031389,0.009672,-0.021365,-0.000954,81.475202
1,80441.338710,-4.760586,3.608258,-7.014145,4.539517,-3.135434,-1.397723,-5.552692,0.567785,-2.582708,...,0.368753,0.710037,0.018400,-0.038291,-0.106682,0.042083,0.053548,0.180001,0.076005,122.948065

Splitting the data into Features and Targets

In [ ]:
X = new_dataset.drop(columns='Class',axis=1)
Y = new_dataset['Class']

In [ ]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
215767,139393.0,-1.328206,1.551845,-0.230036,-1.133390,0.778155,-0.516181,0.788984,0.368584,-0.525572,...,-0.149121,-0.186506,-0.748696,-0.065165,0.605860,-0.157059,0.032049,-0.238714,0.139548,14.99
150206,89585.0,-1.544854,0.510415,-1.723719,-0.645185,-0.969130,0.355893,0.022624,1.236198,0.201627,...,-0.626437,-0.180575,-0.474689,0.766142,-1.163004,-2.274473,-0.155000,0.198640,-0.095511,174.70
127065,77529.0,-0.505561,0.962619,1.645137,-0.152147,0.069002,-0.219699,0.523905,0.208639,-0.666032,...,0.060895,-0.137431,-0.333254,0.014993,0.203988,-0.326764,0.071029,0.278867,0.109106,0.89
35895,37436.0,-0.828500,0.969251,1.353386,-0.720941,-0.437652,-0.983693,0.313996,0.098262,-0.073314,...,0.104972,-0.051428,-0.046527,-0.018730,0.453650,-0.614990,0.787566,-0.107865,-0.103171,7.68
44740,41234.0,-0.504086,1.155390,0.773306,1.252542,-0.376699,-0.168760,0.318697,0.412339,-0.641761,...,-0.190658,-0.012017,-0.159638,0.178353,0.028023,-0.359970,-0.444875,-0.147217,-0.053203,49.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281843,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
282123,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
282129,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
283124,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
283654,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [ ]:
Y

215767    0
150206    0
127065    0
35895     0
44740     0
         ..
281843    1
282123    1
282129    1
283124    1
283654    1
Name: Class, Length: 992, dtype: int64

Split the data into Training Data and Testing Data

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

# test_size = 0.2 means 20% data is to be given for test and 80% for training
# stratify=Y is used to distribute Y class into train and test data equally/evenly

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(992, 30) (793, 30) (199, 30)

Model Training

Logisitic Regression

In [ ]:
model = LogisticRegression()

In [ ]:
# Training the Logistic Regression Model with Training Data
model.fit(X_train,Y_train)

LogisticRegression()

Model Evaluation

Accuracy Score

In [ ]:
# Accuracy on training data 
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [ ]:
print('Accuracy on training data : ',training_data_accuracy)

Accuracy on training data :  0.9495586380832283

In [ ]:
# Accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [ ]:
print('Accuracy on test data : ',test_data_accuracy)

Accuracy on test data :  0.9195979899497487